@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Bitter);

@import "variables";

@import "base";
@import "layout";
@import "modules";

.txt-rotate:after {
  content: "";
  border-right: 2px solid #888;
  margin: 0 3px;
  animation: blink-caret .7s linear 0s infinite;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

@-webkit-keyframes blink-caret { 50% { opacity: 0; } }
