footer {
  background: radial-gradient(ellipse farthest-corner at center top, #34495E 0%, #2C3E50 100%);

  color: $lightGray;
  position: relative;

  .container {
    @extend .clearfix;
  }

  .contact {
    float: left;
    width: 48%;
    padding: 0 2rem 0 0;
    font-size: .8rem;

    h1 {
      font-size: 1rem;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  .container > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ul {
    list-style-type: none;
    float: right;
  }

  li {
    display: inline-block;
    vertical-align: top;
  }

  a {
    color: $darkGray;
    font-size: 2rem;
    transition: color 0.8s;
  }

  a:hover {
    color: $lightGray;
  }

}
